div { position: relative; } 
nav { margin-bottom: 10px; }
.drop-button { display: inline-block; width: 4em; text-align: center; cursor: pointer; font-size: 1.5em; } 
.drop-button:hover { transform: scale(1.2); } 
.board { width: 30em; padding: 10px; background-color: yellow; display: flex; flex-wrap: wrap; box-sizing: border-box; } 
.cell { width: 4em; height: 4em; display: flex; align-items: center; justify-content: center; } 
.cell > div { width: 3em; height: 3em; border-radius: 50%; }